.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-1);
  font: var(--im);
  font-weight: 600;
  letter-spacing: 0.025em;
  box-shadow: var(--shadow-sm);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:focus {
    outline: none;
    box-shadow: var(--focus-ring);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.small {
  padding: 2px var(--spacing-3);
  font: var(--is);
  font-weight: 600;
}

.medium {
  padding: var(--spacing-1) var(--spacing-5);
}

.large {
  padding: var(--spacing-2) var(--spacing-8);
  font: var(--il);
  font-weight: 600;
}

.icon {
  width: var(--spacing-8);
  height: var(--spacing-8);
  padding: unset;
}

.default {
  background-color: var(--orange-9);
  color: #fff;

  &:hover {
    background-color: var(--orange-10);
  }

  &:active {
    background-color: var(--orange-11);
  }
}

.secondary {
  background-color: var(--slate-7);
  color: var(--slate-12);

  &:hover {
    background-color: var(--slate-8);
  }

  &:active {
    background-color: var(--slate-9);
  }
}

.outline {
  border: 1px solid var(--slate-9);
  color: var(--slate-11);

  &:hover {
    border-color: var(--orange-8);
    background-color: var(--slate-4);
    color: var(--slate-12);
  }

  &:focus {
    border-color: var(--orange-9);
  }

  &:active {
    background-color: var(--slate-3);
  }
}

.ghost {
  box-shadow: unset;
  color: var(--slate-11);

  &:hover {
    background-color: var(--slate-4);
    color: var(--slate-12);
  }

  &:active {
    background-color: var(--slate-3);
  }
}

.destructive {
  background-color: var(--red-9);
  color: #fff;

  &:hover {
    background-color: var(--red-10);
  }

  &:active {
    background-color: var(--red-11);
  }
}

.link {
  box-shadow: unset;
  color: var(--orange-9);
  text-decoration-line: underline;
  text-underline-offset: 4px;

  &:hover {
    color: var(--orange-11);
  }
}
