.badge {
  display: inline-flex;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  padding: var(--spacing-1) var(--spacing-3);
  font: var(--it);
  font-weight: 600;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:focus {
    outline: none;
    box-shadow: var(--focus-ring);
  }
}

.default {
  border-color: transparent;
  background-color: var(--orange-4);
  color: var(--orange-11);

  &:hover {
    background-color: var(--orange-5);
  }
}

.secondary {
  border-color: transparent;
  background-color: var(--slate-4);
  color: var(--slate-11);

  &:hover {
    background-color: var(--slate-5);
  }
}

.destructive {
  border-color: transparent;
  background-color: var(--red-4);
  color: var(--red-11);

  &:hover {
    background-color: var(--red-5);
  }

  &:focus {
    box-shadow: var(--error-focus-ring);
  }
}

.outline {
  color: var(--slate-11);
}
