.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 8px;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d0d5dd);
  background: var(--white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--gray-900, #101828);
  cursor: pointer;
  -webkit-appearance: unset;

  &:placeholder {
    color: var(--gray-500, #667085);
  }

  &:focus {
    outline: none;
  }

  &:focus:not([aria-invalid="true"]) {
    border-color: var(--primary-300, #d6bbfb);
    box-shadow:
      0px 0px 0px 4px #f4ebff,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  &[aria-invalid="true"],
  &:invalid {
    border-color: var(--error-300, #fda29b);

    &:focus {
      box-shadow:
        0px 0px 0px 4px #fee4e2,
        0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }

  &:disabled {
    color: var(--gray-500, #667085);
    border-color: var(--gray-300, #d0d5dd);
    background: var(--gray-50, #f9fafb);
  }

  /* Show adjacent Error Message on Invalid */
  &[aria-invalid="true"] ~ div[role="alert"] {
    display: flex;
    color: var(--error-500, #f04438);
  }
}

.options {
  z-index: 50;
  display: flex;
  flex-direction: column;
  width: var(--popover-anchor-width, fit-content);
  min-width: max-content;
  max-height: 224px;
  padding: 4px 0px;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--white, #ffffff);
  box-shadow: var(
    --shadow-lg-box-shadow,
    0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08)
  );
  overflow: auto;
  overscroll-behavior: contain;

  &:focus,
  &:focus-within {
    outline: none;
    border-color: var(--primary-300, #d6bbfb);
    box-shadow:
      0px 0px 0px 4px #f4ebff,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

.group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: flex;
  padding: 0 16px 2px;
  border-bottom: 1px solid var(--gray-100, #f2f4f7);
  font-weight: 400;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 4px 12px;
  color: var(--gray-900, #101828);
  cursor: pointer;

  &:hover,
  &[data-active-item] {
    background-color: var(--gray-50, #f9fafb);
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}
