.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 8px;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid var(--slate-7);
  box-shadow: var(--shadow-sm);
  font: var(--im);
  color: var(--slate-11);
  cursor: pointer;
  -webkit-appearance: unset;

  &:placeholder {
    color: var(--slate-8);
  }

  &:focus {
    outline: none;
  }

  &:focus:not([aria-invalid="true"]) {
    border-color: var(--orange-8);
    box-shadow: var(--focus-ring);
  }

  &[aria-invalid="true"],
  &:invalid {
    border-color: var(--red-8);

    &:focus {
      box-shadow:;
    }
  }

  &:disabled {
    color: var(--slate-8);
    border-color: var(--slate-8);
    background: var(--slate-2);
  }

  /* Show adjacent Error Message on Invalid */
  &[aria-invalid="true"] ~ div[role="alert"] {
    display: flex;
    color: var(--red-10);
  }
}

.options {
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: var(--popover-anchor-width, fit-content);
  min-width: max-content;
  max-height: 224px;
  padding: var(--spacing-2) var(--spacing-2);
  border-radius: 8px;
  border: 1px solid var(--slate-7);
  background: var(--slate-1);
  box-shadow: var(--shadow-lg);
  box-sizing: content-box;
  overflow: auto;
  overscroll-behavior: contain;

  &:focus,
  &:focus-within {
    outline: none;
    border-color: var(--orange-9);
    box-shadow: var(--focus-ring);
  }
}

.group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: flex;
  padding: 0 var(--spacing-1) 0;
  font: var(--it);
  font-style: italic;
  font-weight: 300;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  width: 100%;
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--spacing-1);
  font: var(--im);
  color: var(--slate-12);
  cursor: pointer;

  &:hover,
  &[data-active-item] {
    background-color: var(--slate-4);
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}
