.speech-bubble {
  @apply relative rounded-2xl bg-gray-100;
}

.speech-bubble:after {
  @apply absolute right-0 top-1/2 h-0 w-0 border;
  content: '';
  border: 20px solid transparent;
  border-left-color: #f4f4f5;
  border-right: 0;
  margin-top: -10px;
  margin-right: -20px;
}

@tailwind components;
