@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design Tokens */
:root {
  /* Spacing Values */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 8px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --spacing-40: 16px;
  --spacing-48: 192px;
  --spacing-56: 224px;
  --spacing-64: 256px;

  /* Container Sizes */
  --container-sm: 64px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 128px;

  /* Font Sizes */
  --fs-11: 72px;
  --fs-10: 60px;
  --fs-9: 48px;
  --fs-8: 36px;
  --fs-7: 30px;
  --fs-6: 24px;
  --fs-5: 20px;
  --fs-4: 18px;
  --fs-3: 16px;
  --fs-2: 14px;
  --fs-1: 12px;

  /* Line Heights */
  --lh-11: 80px;
  --lh-10: 72px;
  --lh-9: 60px;
  --lh-8: 44px;
  --lh-7: 38px;
  --lh-6: 32px;
  --lh-5: 30px;
  --lh-4: 28px;
  --lh-3: 24px;
  --lh-2: 20px;
  --lh-1: 18px;

  /* Shadows */
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --focus-ring: 0px 0px 0px 4px rgba(254, 98, 1, 0.22), var(--shadow-sm);
  --error-focus-ring: 0px 0px 0px 4px rgba(255, 53, 63, 0.24), var(--shadow-sm);
}

.typography {
  /* Display Font Styles */
  --du: var(--fs-11) / var(--lh-11) var(--font-display);
  --dh: var(--fs-10) / var(--lh-10) var(--font-display);
  --dl: var(--fs-9) / var(--lh-9) var(--font-display);
  --dm: var(--fs-8) / var(--lh-8) var(--font-display);
  --ds: var(--fs-7) / var(--lh-7) var(--font-display);
  --dt: var(--fs-6) / var(--lh-6) var(--font-display);

  /* Body Font Styles */
  --bh: var(--fs-5) / var(--lh-5) var(--font-body);
  --bl: var(--fs-4) / var(--lh-4) var(--font-body);
  --bm: var(--fs-3) / var(--lh-3) var(--font-body);
  --bs: var(--fs-2) / var(--lh-2) var(--font-body);
  --bt: var(--fs-1) / var(--lh-1) var(--font-body);

  /* Code Font Styles */
  --cl: var(--fs-4) / var(--lh-4) var(--font-code);
  --cm: var(--fs-3) / var(--lh-3) var(--font-code);
  --cs: var(--fs-2) / var(--lh-2) var(--font-code);

  /* Input Font Styles */
  --il: var(--fs-4) / var(--lh-4) var(--font-input);
  --im: var(--fs-3) / var(--lh-3) var(--font-input);
  --is: var(--fs-2) / var(--lh-2) var(--font-input);
  --it: var(--fs-1) / var(--lh-1) var(--font-input);
}

/* Variables included with Starter */
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;

  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;

  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: ;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --ring: 240 5% 64.9%;

  --radius: 0.5rem;
}

:root.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --accent: 240 3.7% 15.9%;
  --accent-foreground: ;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;

  --ring: 240 3.7% 15.9%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}
