.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  width: 100%;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--spacing-4);
  width: 100%;
}
