.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2, 8px);
  width: 100%;
}

.label {
  width: fit-content;
  color: var(--neutral-slate-10, #787f85);
  cursor: pointer;

  &:disabled {
    color: var(--neutral-slate-9, #697177);
  }
}

.error {
  display: none;
  width: fit-content;
  color: var(--normal-red-10, #f2555a);
}

.hint {
  width: fit-content;
  color: var(--neutral-slate-10, #787f85);

  &:disabled {
    color: var(--neutral-slate-8, #4c5155);
  }
}
