.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: 100%;
}

.label {
  width: fit-content;
  font: var(--im);
  color: var(--slate-10);
  cursor: pointer;

  &:disabled {
    color: var(--slate-9);
  }
}

.error {
  display: none;
  width: fit-content;
  font: var(--is);
  color: var(--red-10);
}

.hint {
  width: fit-content;
  font: var(--is);
  color: var(--slate-10);

  &:disabled {
    color: var(--slate-8);
  }
}
