.input {
  /* Base Styles */
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  padding: var(--spacing-1) var(--spacing-3);
  border-radius: var(--spacing-2);
  border: 1px solid var(--slate-8);
  background: var(--slate-1);
  box-shadow: var(--shadow-sm);
  font: var(--im);
  color: var(--slate-12);

  /* State Variants */

  /* Empty */
  &:placeholder {
    font-style: italic;
    color: var(--slate-8);
  }

  &:not(:disabled) {
    /* Hover */

    &:hover {
      border-color: var(--orange-8);
    }

    /* Focused */

    &:focus {
      outline: none;
    }

    &:focus:not([aria-invalid="true"]) {
      border-color: var(--orange-9);
      box-shadow: var(--focus-ring);
    }

    /* Invalid */

    &[aria-invalid="true"],
    &:invalid {
      border-color: var(--red-9);

      &:focus {
        box-shadow: var(--error-focus-ring);
      }
    }
  }

  /* Disabled */

  &:disabled {
    color: var(--slate-10);
    border-color: var(--slate-8);
    background: var(--slate-2);
  }
}
